* {
  font-family: 'Muli', sans-serif;
}

.albumCover {
  width: 25%;
  height:25%;
}
.songActive{
  background-color: #203659;
  display:flex;
  float:left;
  width: 100%;
  height: 50px;
}

body {
  margin: 0px;
  background: radial-gradient(at top left, rgba(11,15,21,0.2), rgba(11,15,21,0.00), rgba(11,15,21,0));
}

/*HEADER*/
#header{
  /*background-color: #898b8e;*/
  background: radial-gradient(at bottom left, rgba(255,255,255,0.25), rgba(255,255,255,0.00), rgba(255,255,255,0));
  display:flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: space-between;
  height: 80px;
  width: 100%;
  padding: 10px 25px 0px 25px;
}

#header::before, #header::after {
  content: '';
  width: 100%;
  order: 1;
}

#header > .UserImgDropdown {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-content: center;
}
#header > .UserImgDropdown:hover {
  display: flex;
  list-style-type: none;
}
#headerImg{
  display: flex;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
ul.subMenu {
  background-color: #0F0F15;
  list-style-type: none;
  opacity: 0;
  margin: 0;
  padding: 0px;
}
ul.subMenu li {
  text-decoration: none;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 10px 15px 10px 15px;
  border: 1px #EDEBE8 solid;
}
ul.subMenu li .menuLinks {
  color: #EDEBE8;
  text-decoration: none;
}
#appLogo{
  width: 150px;
  height: 80px;
}
#header div:hover .subMenu{
  opacity:1;
}

.UserImgDropdown {
  display:flex;
  flex-wrap: wrap;
  width: 100px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 10%;
}

/*TEXT - deprecated*/
.titleText{
  color: #EDEBE8;
  font-family: Garamond;
  display:flex;
  flex-shrink: 2;
}

/*CREATE/COMPARE*/
/*Individual songs*/
.songActive{
  background-color: rgba(25,30,40,0.1);
  display:flex;
  width: 100%;
  height: 50px;
  border-top: #333333 solid;
  border-bottom: #333333 solid;
  border-width: 1px 0px 1px 0px;
}
.songActive p {
  color: #333333;
}
.songInactive{
  background-color: rgba(25,30,40,0.1);
  display:flex;
  width: 100%;
  height: 50px;
  border-top: #333333 solid;
  border-bottom: #333333 solid;
  border-width: 1px 0px 1px 0px;
}
.songInactive p {
  color: #EDEBE8;
}

/*-->SIDEBAR*/
.songSelectionContainer{

}

.songContainer{
  display:flex;
  width:23%;
  height:100vh;
  overflow:auto;
  background-color: rgba(2,2,5,0.5);
  border-width: 0px 1px 0px 0px;
  border-right: #333333 solid;
  margin:0px;
}

.songSelectionForm{
  display:flex;
  width: 73%
}

.songSelection{
  display:flex;
  width:75%;
}

.albumCover {
  width: 25%;
  height:25%;
}

.submitSelection{
  height:50px;
  width:100px;
  display:flex;
}

.selectedSong{
  display:block;
}

.selectedSongName{
  display:flex;
  margin: 0;
}

.selectedSongArtistName{
  display:flex;
  margin: 0;
  margin-left: 16px;
}

.removedSelectedSong{
  display:flex;
}

.audioButton{
  display:flex;
  width: 50px;
  height: 25px;
}

#loginMessage {
  margin: auto;
  text-align: center;
}
