* {
  font-family: 'Muli', sans-serif;
}

.albumCover {
  width: 25%;
  height:25%;
}
.songActive{
  background-color: #203659;
  display:flex;
  float:left;
  width: 100%;
  height: 50px;
}
.songInactive{
  background-color: #fc8a00;
  display:flex;
  float:left;
  width: 100%;
  height: 50px;
}

#header{
  background-color: #898b8e;
}

#header > ul > li {
  display: inline-block;
  list-style-type: none;

}
#header > ul > li:hover {
  display: inline-block;
  list-style-type: none;
}
#headerImg{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
ul.subMenu {
  background-color: darkgray;
  list-style-type: none;
  opacity: 0;
}
ul.subMenu li {
  text-decoration: none;
}
#header li:hover .subMenu{
  opacity:1;
}

.songContainer{
  display:flex;
  float:left;
  width:25%;
  height:100%;
  background-color: lightgrey;
}

.songSelectionForm{
  display:flex;
  float:left;
}

.submitSelection{
  height:50px;
  width:100px;
  display:flex;
  float:left;
}

.selectedSong{
  display:block;
}

.selectedSongName{
  display:flex;
  float:left;
  margin: 0;
}

.selectedSongArtistName{
  display:flex;
  float:left;
  margin: 0;
  margin-left: 16px;
}

.removedSelectedSong{
  display:flex;
}

.audioButton{
  display:flex;
  float:left;
  width: 50px;
  height: 25px;
}

#loginMessage {
  margin: auto;
  text-align: center;
}
