html {
  background-color: #3e474f;
}

* {
  font-family: 'Oxygen', sans-serif;
}

body {
  margin: 0px;
  background: radial-gradient(at top left, rgba(11,15,21,0.2), rgba(11,15,21,0.00), rgba(11,15,21,0));
}

/*HEADER*/
#header{
  /*background-color: #898b8e;*/
  background: radial-gradient(at bottom left, rgba(255,255,255,0.25), rgba(255,255,255,0.00), rgba(255,255,255,0));
  display:flex;
  box-sizing: border-box;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: space-between;
  height: 11vh;
  width: 100%;
  padding: 10px 25px 0px 25px;
  top:0;
  position:fixed;
}

/*#header::before, #header::after {
  content: '';
  width: 100%;
  order: 1;
}*/

.UserImgDropdown {
  display: flex;
  list-style-type: none;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  padding-top: 0.5vh;
  padding-right: 2vw;
}
.UserImgDropdown:hover ul.subMenu{
  right: 0px;
}

@keyframes slideR {
  0% { right: -100; }
  100% { right: 0; }
}

#headerImg{
  display: flex;
  border-radius: 50%;
  height: 7vh;
  z-index:5
}
ul.subMenu {
  display: flex;
  flex-wrap: nowrap;
  background-color: #0F0F15;
  list-style-type: none;
  opacity: 0;
  margin: 0;
  padding: 0px;
  background-color:rgba(0, 0, 0, 0.0);
  right: -75px;
  position: relative;
  transition: all 0.5s ease;
}
ul.subMenu li {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 15px;
  background-color:rgba(0, 0, 0, 0.0);
}
ul.subMenu li:nth-child(1) .menuLinks {
  color: #15c1db;
  text-decoration: none;
}
ul.subMenu li:nth-child(2) .menuLinks {
  color: #ff6868;
  text-decoration: none;
}
#appLogo{
  width: 150px;
  height: 80px;
}

#header div:hover .subMenu{
  opacity:1;
}

/*TEXT - deprecated*/
.titleText{
  color: #EDEBE8;
  left:40%;
  position:absolute;
  display:flex;
  flex-wrap:nowrap;
  width:35vw;
}

/*HomePage*/
#selectors{
  top: 11vh;
  position: fixed;
  padding: 10%;
}

/*CREATE/COMPARE*/
/*Individual songs*/
.songActive{
  background-color: rgba(25,30,35,0.01);
  display:flex;
  width: 100%;
  height: 50px;
  border-bottom: #888888 solid;
  border-width: 0px 0px 1px 0px;
  align-items: center;
}
.songActive p {
  color: gray;
}
.songInactive{
  background-color: rgba(25,30,35,0.01);
  display:flex;
  width: 100%;
  height: 50px;
  border-bottom: #888888 solid;
  border-width: 0px 0px 1px 0px;
  align-items: center;
}
.songInactive p {
  color: #EDEBE8;
}

/*-->SIDEBAR*/
.songSelectionContainer{
  top:11vh;
  position:fixed;
  width: 100vw;
}

.songContainer{
  box-sizing: border-box;
  display:flex;
  width:25%;
  height:90vh;
  background-color: rgba(2,2,5,0.9);
  margin:0px;
  top: 11vh;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  padding-top: 40px;
  padding-bottom: 30px;
}

.selectedSongContainer{
  padding: 10px;
  display: block;
  padding-bottom: 0px;
  align-items: center;
  left: -100px;
  position: relative;
  animation: slide 0.5s forwards;
}

@keyframes slide {
  100% { left: 0; }
}

.selectedSong>*{
  display:flex;
}

.selectedSong{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.removeSongButton{
  height: 20px;
  opacity: 0.2;
}

.removeSongButton:hover{
  opacity: 1;
}

/*-->SONG SELECTION*/
.songSelectionForm{
  display:flex;
  flex-wrap:wrap;
  height: 89vh;
  top: 11vh;
  width: 75%;
  bottom: 0vw;
  left: 25vw;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}

/*.searchContainer > *{
  width: 100%;
}*/

.songSelection{
  display:flex;
  width:100%;
}

.albums{
  padding-left: 0%;
  margin-top: 5%;
  width:100%;
}

.album{
  width:100%;
}

.albumInfoContainer{
  display:flex;
  flex-wrap: wrap;
}

.albumName{
  align-self: flex-end;
  padding-left: 20px;
  padding-bottom: 30px;
  display:flex;
}

.albumName > p{
  color: #ccddee;
  font-size: 30px;
  font-weight: 100px;
  text-transform: uppercase;
}

.albumCover {
  width: 25%;
  height:25%;
}

/*check boxes for album*/
/*.squaredOne[data=true]{
  display:block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid #FF9100;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background: #FF9100;
  transition: background 0.25s ease;
  background: #fff;
  border: 1px solid #E5E5E5;
  z-index: -1;
}

.squaredOne[data=false]{
  display:block;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 1px solid #FF9100;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background: #FF9100;
  transition: background 0.25s ease;
  z-index: -1;
}

.squaredOne[data=true] .checkbox__inner::before{
  background: #99BF4C;
  transition: all 0.2s ease;
  transform: rotate(47deg);
  width: 10px;
  top: 26px;
  left: 13px;
  z-index: 0;
}
.squaredOne[data=true] .checkbox__inner::after {
  background: #99BF4C;
  transition: all 0.2s ease;
  transform: rotate(45deg);
  left: 27px;
}

.squaredOne[data=true] .checkbox__inner::before {
  background: #FF0000;
  transform: rotate(45deg);
  width: 19px;
  top: 23px;
  left: 14px;
}
.squaredOne[data=true] .checkbox__inner::after {
  background: #FF0000;
  height: 19px;
  top: 14px;
  left: 23px;
}
.squaredOne[data=false]:hover {
  background: #FF9E2C;
}

.squaredOne[data=false] .checkbox__inner {
  position: relative;
}
.squaredOne[data=false] .checkbox__inner::before, .squaredOne[data=false] .checkbox__inner::after {
  position: absolute;
  content: '+';
  background: #fff;
  transition: all 0.3s ease;
}
.squaredOne[data=false] .checkbox__inner::before {
  height: 1px;
  width: 19px;
  top: 23px;
  left: 14px;
}
.squaredOne[data=false] .checkbox__inner::after {
  width: 1px;
  height: 19px;
  top: 14px;
  left: 23px;
}
.squaredOne[data=false] .checkbox__input {
  -webkit-appearance: none;
  z-index: 100;
}

.squaredOne[data=true] .checkbox__inner {
  position: relative;
}
.squaredOne[data=true] .checkbox__inner::before, .squaredOne[data=true] .checkbox__inner::after {
  position: absolute;
  content: '';
  background: #fff;
  transition: all 0.3s ease;
}
.squaredOne[data=true] .checkbox__inner::before {
  height: 1px;
  width: 19px;
  top: 23px;
  left: 14px;
}
.squaredOne[data=true] .checkbox__inner::after {
  width: 1px;
  height: 19px;
  top: 14px;
  left: 23px;
}
.squaredOne[data=true] .checkbox__input {
  -webkit-appearance: none;
  z-index: 100;
}*/

.albumCover:hover {
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

.albumCover:active {
  box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.5);
}

.closedSongList{
  padding: 0.5% 3% 0% 4%;
  border-bottom: 1px solid #454444;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 0vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.openSongList{
  padding: 0.5% 3% 0% 4%;
  border: 1px solid #222222;
  box-shadow: inset -8px -8px 119px 2px rgba(0,0,0,0.60);
  margin-bottom: 20px;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.backButton{
  height:30px;
  width:60px;
  align-items: center;
  align-content: center;
	-moz-box-shadow: 0px 10px 14px -7px #333444;
	-webkit-box-shadow: 0px 10px 14px -7px #333444;
	box-shadow: 0px 10px 14px -7px #333444;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #222333), color-stop(1, #334450));
	background:-moz-linear-gradient(top, #222333 5%, #334450 100%);
	background:-webkit-linear-gradient(top, #222333 5%, #334450 100%);
	background:-o-linear-gradient(top, #222333 5%, #334450 100%);
	background:-ms-linear-gradient(top, #222333 5%, #334450 100%);
	background:linear-gradient(to bottom, #222333 5%, #334450 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#222333', endColorstr='#334450',GradientType=0);
	background-color:#222333;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:13px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4393ad;
  display:block;
  border: 0px;
  padding: 2px;
}
.backButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #334450), color-stop(1, #222333));
	background:-moz-linear-gradient(top, #334450 5%, #222333 100%);
	background:-webkit-linear-gradient(top, #334450 5%, #222333 100%);
	background:-o-linear-gradient(top, #334450 5%, #222333 100%);
	background:-ms-linear-gradient(top, #334450 5%, #222333 100%);
	background:linear-gradient(to bottom, #334450 5%, #222333 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#334450', endColorstr='#222333',GradientType=0);
	background-color:#334450;
}
.backButton:active {
	position:relative;
	top:1px;
}

.selectedSongContainer{
  display:flex;
  justify-content: right;
  align-content: right;
}

.selectedSong{
  display:flex;
  justify-content: space-between;
}

.selectedSongName{
  display:flex;
  width: 100%;
  margin: 0;
  color: #EDEBE8;
  font-size: 12px;
}

.selectedSongArtistName{
  display:flex;
  margin: 0;
  margin-left: 16px;
  color: #EDEBE8;
  font-size: 12px;
}

.removeSelectedSong{
  display:flex;
  color: #EDEBE8;
  font-size: 12px;
}

.audioButton{
  display:flex;
  width: 50px;
  height: 25px;
}

/*LOGIN*/
#loginMessage {

  margin: auto;
  padding-top: 30vh;
  text-align: center;
  color: #eeeeff;
}

#loginMessage > h1 {
  font-size: 50px;
}
#loginMessage > h4 {
  font-size: 25px;
}

#loginButton {
  color: #ffffff;
  background-color: #2ebd59;
  border-radius: 20px;
  width: 150px;
  height: 35px;
  border: 0;
  font-size: 20px;
  margin-top: 40px;
}
#loginButton:hover {
  background-color: #1ed760;
}

#selectors > div {
  border: 1px solid black;
  width: 25%;
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
  box-shadow: none;
  color: #c9c9c9;
}
#selectors > div:nth-child(1):hover {
  box-shadow: 5px 10px 10px -1px rgba(17, 17, 48, 0.75);
  color: #15c1db;
}
#selectors > div:nth-child(2):hover {
  box-shadow: 5px 10px 10px -1px rgba(48, 17, 17, 0.75);
  color: #ff6868;
}

#selectors > div:nth-child(1):active {
  box-shadow: 1px 2px 10px -1px rgba(17, 17, 48, 0.5);
  color: #82eeff;
}

#selectors > div:nth-child(2):active {
  box-shadow: 1px 2px 10px -1px rgba(48, 17, 17, 0.5);
  color: #ff9696;
}

hr {
  width: 3px;
  height: 20px;
  background-color: black;
}

/*SIDEBAR SEARCH*/
.playlistSubmission{
  top: 11vh;
  width: 25%;
  display: flex;
  z-index: 100;
  position: fixed;
  left: 0;
  height: 5vh;
  background: #151515;
}

.playlistSubmission:before{
  background: #444;
	background: linear-gradient(left, #151515, #444, #151515);
	top: 192px;
}

.playlistSubmission:after{
  background: #000;
	background: linear-gradient(left, #151515, #000, #151515);
	top: 191px;
}

.playlistSubmission>input{
  background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	box-shadow: 0 2px 0 #000;
	color: #888;
	text-shadow: 0 -1px 0 #000;
  height: 100%;
  width: 390px;
}

.playlistSubmission>input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #2288BB;
	background: linear-gradient(#393939, #202530);
	border-color: #225588;
	box-shadow: 0 0 5px rgba(50,100,255,.2), inset 0 0 5px rgba(50,100,255,.1), 0 2px 0 #000;
	color: #9bd;
	outline: none;
}

.playlistSubmission>button{
  background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-left-color: #000;
	box-shadow: 0 2px 0 #000;
	color: #9bd;
	text-shadow: 0 -1px 0 #000;
  height: 100%;
  width: 200px;
}

.playlistSubmission>button:focus{
  background: #292929;
  background: linear-gradient(#393939, #202530);
  color: #9bd;
  outline: none;
}
.playlistSubmission>button:hover{
	background: #292929;
	background: linear-gradient(#393939, #202530);
	color: #9bd;
	outline: none;
}

.playlistSubmission>button:active {
	background: #292929;
	background: linear-gradient(#393939, #202530);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
    0% {
  		border-color: #336;
  		box-shadow: 0 0 5px rgba(0,0,255,.2), inset 0 0 5px rgba(0,0,255,.1), 0 2px 0 #000;
    }
    100% {
  		border-color: #39C;
  		box-shadow: 0 0 20px rgba(30,100,180,.6), inset 0 0 10px rgba(30,100,180,.4), 0 2px 0 #000;
    }
}

/*Visualize button*/
button:focus {
  outline:0;
}

.submitSelection{
  background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #000;
	color: #9bd;
	text-shadow: 0 -1px 0 #000;
  height: 50px;
  width: 150px;
}

.submitSelection:hover{
	background: #292929;
	background: linear-gradient(#393939, #202530);
	color: #9bd;
	outline: none;
  animation: glow 800ms ease-out infinite alternate;
}

.submitSelection:active {
	background: #292929;
	background: linear-gradient(#202530, #393939);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

/*Profile*/
.Profile{
  color:#EDEBE8;
  top:11vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  padding-top: 5vh;
}

.displayName{
  align-self: center;
  font-weight: 100;
  font-size: 30px;
  left: 44vw;
  position: relative;
  margin-bottom: 20px;
}

#profilePic {
  left: 44vw;
  position: relative;
  border-radius: 50%;
}

.ProfileHeader {
  position: fixed;
}

.Profile>img{
  align-content: center;
}
.Profile>p{
  align-content: center;
}
.smallProfileCharts{
  display:flex;
  padding-right: 2%;
  overflow-x: scroll;
  overflow-y: visible;
  justify-content: space-around;
}

.smallProfileCharts>*{
  width: 27%;
}

.PlaylistChart {
  min-width: 100%;
  margin-left: 10%;
}

.playlistsContainer{
  padding: 0.5% 1% 0% 1%;
  border: 1px solid #222222;
  box-shadow: inset -8px -8px 119px 2px rgba(0,0,0,0.60);
  height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 6vh;
}

.playListActive{
  background-color: rgba(25,30,35,0.01);
}
.playListActive h1 {
  color: #EDEBE8;
  font-size: 20px;
}
.playListInactive{
  background-color: rgba(25,30,35,0.01);
}
.playListInactive h1 {
  color: #BBBBBB;
  font-size: 18px;
}

/*artist search form*/
.SearchBar{
  display:flex;
  padding: 30px;
  position:absolute;
  width:100%;
  right:0;
  z-index: -1;
}

.artistSearchSubmission{
  align-self: center;
  height:10vw;
  width:70%;
  position:relative;
}

.artistSearchInput{
  height: 50px;
  font-size: 40px;
  display: flex;
  font-weight: 100;
  border: none;
  outline: none;
  color: #fff;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
  text-transform: uppercase;
}

.artistSearchInput:focus:hover {
  border-bottom: 1px solid #BBB;
}

.artistSearchInput:focus {
  width: 400px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

#search_submit {
  height: 50px;
  width: 50px;
  background: url('../images/magGlass_icon.png') center center no-repeat;
  /*text-indent: 10000px;*/
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

#search_submit:hover {
  opacity: 0.8;
}


/*Radar Chart*/
.radarChart .areaSmall{
  position: relative;
  order:1;
  z-index: 100;
  opacity: 0.3;
}

.radarChart .areaMedium{
  position: relative;
  order:2;
  z-index: 0;
  opacity: 0.3;
}

.radarChart .areaLarge{
  position: relative;
  order:3;
  z-index: -100;
  opacity: 0.3;
}

.areaSmall:hover{
  z-index: 150;
  opacity: 0.8;
  order: 1;
}

.areaMedium:hover{
  z-index: 150;
  opacity: 0.8;
  order: 1;
}

.areaLarge:hover{
  z-index: 150;
  opacity: 0.8;
  order: 1;
}

tspan{
  fill: #BBBBBB;
}

#loadingScreen{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  color: #EDEBE8;
}

.icon {
  font-size: 100px;
}

#logo {
  height: 10vh;
  padding-bottom: 1vh;
}

#playlistSuccess {
  position: fixed;
  top: 40vh;
  font-size: 30px;
  color: #EDEBE8;
  text-align: center;
  left: 35vw;
}

.recharts-default-tooltip {
  background-color: rgb(90, 90, 90) !important;
}
