.albumCover {
  width: 25%;
  height:25%;
}

/*.squaredOne {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squaredOne label {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 4px;
  cursor: pointer;
  background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
}
.squaredOne label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #27ae60;
  background: -webkit-linear-gradient(top, #27ae60 0%, #145b32 100%);
  background: linear-gradient(to bottom, #27ae60 0%, #145b32 100%);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  opacity: 0;
}
.squaredOne label:hover::after {
  opacity: 0.3;
}
.squaredOne input[type=checkbox] {
  visibility: hidden;
}
.squaredOne input[type=checkbox]:checked + label:after {
  opacity: 1;
}*/

.songActive{
  background-color: #203659;
  display:flex;
  float:left;
  width: 100%;
  height: 50px;
}
.songInactive{
  background-color: #fc8a00;
  display:flex;
  float:left;
  width: 100%;
  height: 50px;
}

#header{
  background-color: #898b8e;
}

#header > ul > li {
  display: inline-block;
  list-style-type: none;

}
#header > ul > li:hover {
  display: inline-block;
  list-style-type: none;
}
#headerImg{
  border-radius: 50%;
  width: 60px;
  height: 60px;
}
ul.subMenu {
  background-color: darkgray;
  list-style-type: none;
  opacity: 0;
}
ul.subMenu li {
  text-decoration: none;
}
#header li:hover .subMenu{
  opacity:1;
}

.songContainer{
  display:flex;
  float:left;
  width:25%;
  height:100%;
  background-color: lightgrey;
}

.songSelectionForm{
  display:flex;
  float:left;
}

.submitSelection{
  height:50px;
  width:100px;
  display:flex;
  float:left;
}

.selectedSong{
  display:block;
}

.selectedSongName{
  display:flex;
  float:left;
  margin: 0;
}

.selectedSongArtistName{
  display:flex;
  float:left;
  margin: 0;
  margin-left: 16px;
}

.removedSelectedSong{
  display:flex;
}

.audioButton{
  display:flex;
  float:left;
  width: 50px;
  height: 25px;
}
